/testovani
/hovna
/output
/pose_analysis_output
/tkinter
/.venv
/.idea
/__pycache__
/venv
/ViTPose
stahni.txt
setup_dependencies.sh
yolo11n-pose.pt
yolo11x-pose.pt
real.txt
/video
/app/yolo11n-pose.pt
/app/yolo11x-pose.pt
/app/vitpose-l.pth
/app/venv